In [1]:
import pandas as pd
import tensorflow as tf

In [ ]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
데이터 =pd.read_csv(파일경로)

In [9]:
독립=데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속=데이터[['medv']]
print(독립.shape,종속.shape)

(506, 13) (506, 1)

In [6]:
x=tf.keras.layers.Input(shape=[13])
y=tf.keras.layers.Dense(1)(x)
model=tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [19]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 980us/step - loss: 23.4922
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 23.3924
Epoch 3/10
16/16 [==============================] - 0s 982us/step - loss: 23.7061
Epoch 4/10
16/16 [==============================] - 0s 967us/step - loss: 23.4130
Epoch 5/10
16/16 [==============================] - 0s 974us/step - loss: 23.5901
Epoch 6/10
16/16 [==============================] - 0s 978us/step - loss: 23.5820
Epoch 7/10
16/16 [==============================] - 0s 972us/step - loss: 23.4926
Epoch 8/10
16/16 [==============================] - 0s 951us/step - loss: 23.8670
Epoch 9/10
16/16 [==============================] - 0s 885us/step - loss: 23.2300
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 22.9501

In [20]:
model.predict(독립[0:5])

array([[30.48814 ],
       [25.397528],
       [31.685076],
       [30.105377],
       [29.70026 ]], dtype=float32)

In [12]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [21]:
model.get_weights()

[array([[-0.09839526],
        [ 0.04747263],
        [-0.00910389],
        [ 2.639126  ],
        [-5.703149  ],
        [ 5.006409  ],
        [-0.00665573],
        [-1.1513312 ],
        [ 0.22134319],
        [-0.00969016],
        [-0.6018738 ],
        [ 0.01321109],
        [-0.46926492]], dtype=float32), array([13.898405], dtype=float32)]