In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
데이터 =pd.read_csv(파일경로)

In [3]:
독립=데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속=데이터[['medv']]
print(독립.shape,종속.shape)

(506, 13) (506, 1)

In [4]:
x=tf.keras.layers.Input(shape=[13])
h=tf.keras.layers.Dense(8)(x)
h=tf.keras.layers.BatchNormalization()(h)
h=tf.keras.layers.Activation('swish')(h)
h=tf.keras.layers.Dense(8)(x)
h=tf.keras.layers.BatchNormalization()(h)
h=tf.keras.layers.Activation('swish')(h)
h=tf.keras.layers.Dense(8)(x)
h=tf.keras.layers.BatchNormalization()(h)
h=tf.keras.layers.Activation('swish')(h)
y=tf.keras.layers.Dense(1)(h)
model=tf.keras.models.Model(x,y)
model.compile(loss='mse')

In [7]:
model.fit(독립,종속,epochs=1000,verbose=0)
model.fit(독립,종속,epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 12.1932
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 11.6477
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 11.2083
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 11.5038
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 10.5710
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 12.5497
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 10.3988
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 11.0013
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 10.3885
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 10.2844

In [10]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 112
_________________________________________________________________
batch_normalization_2 (Batch (None, 8)                 32
_________________________________________________________________
activation_2 (Activation)    (None, 8)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 153
Trainable params: 137
Non-trainable params: 16
_________________________________________________________________

In [8]:
model.predict(독립[0:5])

array([[25.29913 ],
       [22.9365  ],
       [30.911694],
       [29.56203 ],
       [29.068726]], dtype=float32)

In [9]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
model.get_weights()