In [1]:
import tensorflow as tf
import pandas as pd

In [12]:
(독립,종속),_=tf.keras.datasets.mnist.load_data()
print(독립.shape,종속.shape)

독립=독립.reshape(60000,28,28,1)
종속 = pd.get_dummies(종속)
print(독립.shape,종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [8]:
x =tf.keras.layers.Input(shape=[28,28,1])
h = tf.keras.layers.Conv2D(3,kernel_size=5,activation='swish')(x)
h = tf.keras.layers.MaxPool2D()(h)
h = tf.keras.layers.Conv2D(6,kernel_size=5,activation='swish')(h)
h = tf.keras.layers.MaxPool2D()(h)
h = tf.keras.layers.Flatten()(h)
h=tf.keras.layers.Dense(84,activation='swish')(h)
y=tf.keras.layers.Dense(10,activation='softmax')(h)
model=tf.keras.models.Model(x,y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [11]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0626 - accuracy: 0.9819
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0600 - accuracy: 0.9828
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0586 - accuracy: 0.9834
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0591 - accuracy: 0.9829
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0585 - accuracy: 0.9838
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0606 - accuracy: 0.9842
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0601 - accuracy: 0.9839
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0580 - accuracy: 0.9843
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0573 - accuracy: 0.9845
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0566 - accuracy: 0.9848

In [5]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(4)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [6]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [9]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten_1 (Flatten)          (None, 96)                0
_________________________________________________________________
dense_2 (Dense)              (None, 84)                8148
_________________________________________________________________
dense_3 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________