In [1]:
import tensorflow as tf
import pandas as pd

In [4]:
(독립,종속),_=tf.keras.datasets.mnist.load_data()
print(독립.shape,종속.shape)

독립=독립.reshape(60000,28,28,1)
종속 = pd.get_dummies(종속)
print(독립.shape,종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [5]:
x =tf.keras.layers.Input(shape=[28,28,1])
h = tf.keras.layers.Conv2D(3,kernel_size=5,activation='swish')(x)
h = tf.keras.layers.Conv2D(6,kernel_size=5,activation='swish')(h)
h = tf.keras.layers.Flatten()(h)
h=tf.keras.layers.Dense(84,activation='swish')(h)
y=tf.keras.layers.Dense(10,activation='softmax')(h)
model=tf.keras.models.Model(x,y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [6]:
model.fit(독립,종속,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 16s 5ms/step - loss: 1.5229 - accuracy: 0.8537
Epoch 2/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0810 - accuracy: 0.9781
Epoch 3/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0479 - accuracy: 0.9855
Epoch 4/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0319 - accuracy: 0.9902
Epoch 5/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0229 - accuracy: 0.9936
Epoch 6/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0183 - accuracy: 0.9948
Epoch 7/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0185 - accuracy: 0.9948
Epoch 8/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0170 - accuracy: 0.9950
Epoch 9/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0144 - accuracy: 0.9962
Epoch 10/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0135 - accuracy: 0.9963

In [7]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(4)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [8]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [9]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_1 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense_2 (Dense)              (None, 84)                201684
_________________________________________________________________
dense_3 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________